@font-face
{
	font-family: Comicoro;
	src: url(../ttf/Comicoro.ttf);
}

html
{
	background-color: #2a2a3a;
}

body
{
	color: #fff8c0;
	font-family: Comicoro;
	font-size: 32px;
	text-align: center;
	max-width: 800px;
	margin: auto;
}

footer
{
	color: #523c4e;
	text-align: left;
	margin-left: 10px;
	position: sticky;
	bottom: 0;
}

section
{
	margin: 10px;
	background-color: #523c4e;
}

h1
{
	color: #ffcc68;
	font-weight: normal;
	font-size: 48px;
	margin: 0;
}

p
{
	margin: 0;
}

a
{
	text-decoration: none;
}

a:link { color: #55a894; }
a:visited { color: #55a894; }
a:hover { color: #8bd0ba; }
a:active { color: #55a894; }