/* Set up the custom font.*/
@font-face {
	font-family: "Comicoro";
	src: url("../fonts/Comicoro.eot");
	src: url("../fonts/Comicoro.woff") format("woff"),
		url("../fonts/Comicoro.woff2") format("woff2"),
		url("../fonts/Comicoro.svg") format("svg");
}
/* Variables */
:root {
	--red: #d44e52;
	--orange: #ec8a4b;
	--yellow: #ffcc68;
	--green: #80ac40;
	--blue: #55a894;
	--purple: #523c4e;
	--black: #2a2a3a;
	--white: #fff8c0;
}
/* This keeps the font consistent throughout the whole page. */
* {
	font-family: "Comicoro", monospace;
}
/* Styling for the whole page. */
html {
	font-size: 32px;
}
/* Styling for the main page. */
body {
	max-width: 1200px;
	margin: auto;
}
section {
	padding: 10px;
	margin: 10px 0 10px 0;
}
h1 {
	margin: 1rem 0 1rem 0;
	font-size: 48px;
	font-weight: normal;
}
/* styling for both highlighted text. */
mark, a {
	padding: 1px 5px 1px 5px;
}
/* Removes the underline for links. */
a {
	text-decoration: none;
}
hr {
	width: 100%;
	display: block;
	border-style: solid;
}
/* Styling for the actual code. */
pre {
	margin: 0;
	tab-size: 4;
	white-space: pre-wrap;
}
/* makes the header and footer sticky. */
header, footer {
	position: -webkit-sticky;
	position: sticky;
	text-align: left;
}
/* Keeps the header stuck to the top. */
header {
	padding-top: 10px;
	top: 0;
}
/* Keeps the footer stuck at the bottom. */
footer {
	padding-bottom: 10px;
	bottom: 0;
}
/* Pushes all the header links together. */
table {
	border-collapse: collapse;
}
/* Stylises all the table elements.*/
th {
	font-weight: normal;
	padding: 0;
}
th > a {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* Makes the selected text purple. */
::selection {
	background-color: var(--purple);
	color: var(--white);
}
/* sub is used to create indents. */
div.sub {
	width: fit-content;
	padding-left: 4ch;
}
/* Styling for the script divs. */
div.script {
	padding: 8px;
}
/* Stylising for the buttons. */
.Button {
	font-size: 32px;
	cursor: pointer;
}
/* will make the header links stick to the right side. */
.links {
	margin: -2px;
	float: right;
}
.indent {
	border-left: 2px dashed var(--black);
}
/* Borders */
.Button, th, div.script, section, iframe  {
	border: 2px solid var(--black);
}
/* Highlight colours. */
.Red {
	background-color: var(--red);
	color: var(--white);
}
.Orange {
	background-color: var(--orange);
	color: var(--white);
}
.Yellow {
	background-color: var(--yellow);
	color: var(--black);
}
.Green{
	background-color: var(--green);
	color: var(--black);
}
.Blue {
	background-color: var(--blue);
	color: var(--white);
}
.Purple {
	background-color: var(--purple);
	color: var(--white);
}
.White {
	background-color: var(--white);
	color: var(--black);
}
.Black {
	background-color: var(--black);
	color: var(--white);
}

/* Border colours. */
.RedBorder {
	border-color: var(--red);
}
.OrangeBorder {
	border-color: var(--orange);
}
.YellowBorder {
	border-color: var(--yellow);
}
.GreenBorder {
	border-color: var(--green);
}
.BlueBorder {
	border-color: var(--blue);
}
.PurpleBorder {
	border-color: var(--purple);
}
.BlackBorder {
	border-color: var(--black);
}

@media only screen and (max-width: 900px) {

	/* Make the code wrap. */
	h1, html {
		font-size: 2rem;
	}
	.Button {
		font-size: 1rem;
	}

	pre {
		tab-size: 2;
	}

	div.sub {
		padding-left: 1ch;
	}

	.links {
		margin: 0;
		width: 100%;
	}

	.links > a {
		display: block;
		float: none;
		word-wrap: break-word;
		margin: 0;
	}

	.Logo {
		display: block;
		float: none;
	}

	/* Makes header buttons easier to press. */
	.Logo, th > a {
		padding: 5px 0 5px 0;
		text-align: center;
	}

	header {
		margin: 0 -1px 0 -1px;
		padding-top: 0;
		top: 0;
	}

	footer {
		margin-right: -1px;
		padding-bottom: 0;
		bottom: 49px;
	}
}