:root {
    --dark: #1a1c2c;
    --light: #f4f4f4;
    --red: #b13e53;
    --orange: #ef7d57;
    --yellow: #ffcd75;
    --green: #38b764;
    --blue: #3b5dc9;
    --purple: #5d275d;
}

* {
    font-family: 'Roboto Mono', monospace;
}

p {
    padding: 0;
    font-size: 12px;
}

mark, a {padding: 1px 1ch}

hr, .script{
    border: 1px var(--dark) solid;
}

iframe {
    border: none;
    max-width: 100%;
}

/*.script::first-line {line-height: 0}*/

a {
    text-decoration: none;
}

.click {
    cursor: pointer;
}

.section {
    max-width: 600px;
    padding: 2px 100px;
    margin: 10px auto;
    text-align: center;
}

.left {text-align: left}

.tab {
    padding-left: 4ch;
    border-left: 2px var(--dark) solid;
}

.script {
    tab-size: 4;
    padding: 1ch;
    border-width: 2px;
    white-space: pre-wrap;
    width: 100%;
    display: block;
}

.darkBg, ::selection {background-color: var(--dark);color: var(--light)}
.lightBg {background-color: var(--light);color: var(--dark)}
.redBg {background-color: var(--red);color: var(--light)}
.orangeBg {background-color: var(--orange);color: var(--dark)}
.yellowBg {background-color: var(--yellow);color: var(--dark)}
.greenBg {background-color: var(--green);color: var(--dark)}
.blueBg {background-color: var(--blue);color: var(--light)}
.purpleBg {background-color: var(--purple);color: var(--light)}