@font-face
{
    font-family: "PiCelFont";
    src: url("fonts/PiCelFont.ttf") format("opentype"),
        url("fonts/PiCelFont.woff") format("woof");
}

html
{
    box-sizing: border-box;
    font-family: "PiCelFont";
    font-size: 23px;
    background-color: rgb(7, 49, 54);
    color: rgb(22, 17, 28);
}

body
{
    margin: 0;
}

img
{
    padding: 12px;
    max-width: 100%;
    height: auto;
}

p
{
    font-size: 46px;
    margin: 0;
}

p a
{
    text-decoration: none;
    color: rgb(209, 59, 59);
}

::selection
{
    background-color: rgb(247, 223, 101);
}

.header
{
    overflow: hidden;
    background-color: rgb(22, 17, 28);
    color: rgb(255, 255, 227);
    padding: 20px 10px;
    border-bottom: 10px solid rgb(138, 28, 53);
}

.header a
{
    background-color: rgb(255, 255, 227);
    float: left;
    color: rgb(209, 59, 59);
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

.header a:hover
{
    background-color: rgb(138, 28, 53);
    color: rgb(255, 255, 227);
}

.header a.active
{
    background-color: rgb(7, 49, 54);
    color: rgb(255, 255, 227);
}

.header-right { float: right; }

.main 
{
    text-align: center;
    padding: 15px;
    border-width: 0 10px 10px 10px;
    border-color: rgb(138, 28, 53);
    border-style: solid;
    margin: auto;
    max-width: 1000px;
    background-color: rgb(255, 255, 227);
}

table
{
    width: 100%;
}

th
{
    padding: 10px;
    background-color: rgb(247, 223, 101);
    font-size: 23px;
    font-weight: normal;
}