/*
    Sigma Games
    Stylesheet by Justinas Grigas
*/
@font-face {
    font-family: 'motorola';
    src: url('fonts/motorola.woff2') format('woff2'),
         url('fonts/motorola.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nokia';
    src: url('fonts/nokia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("images/background.png");
    background-repeat: repeat;
    background-color: #16111c;
	font-family: 'motorola';
    font-size: 32px;
	color: #e09a3f;
    text-shadow:
    -2px -2px 0 #16111c,
    2px -2px 0 #16111c,
    -2px 2px 0 #16111c,
    2px 2px 0 #16111c;
}

#small {
    font-family: 'nokia';
    font-size: 16px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    overflow:hidden;
}

td {
    padding-bottom: 40px;
}

a {
    color: #d13b3b;
    text-decoration: none;
}

a:hover {
    color: #5fd459;
}

::selection {
    color: #f7df65;
}