/*
    Sigma Games a
    Stylesheet by Justinas Grigas
*/
@font-face {
    font-family: 'motorola';
    src: url('fonts/motorola.woff2') format('woff2'),
         url('fonts/motorola.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nokia';
    src: url('fonts/nokia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("images/background.png");
    background-repeat: repeat;
    background-color: #170f21;
	font-family: 'motorola';
    font-size: 32px;
	color: #e8ae51;
    text-shadow:
    -2px -2px 0 #02092e,
    2px -2px 0 #02092e,
    -2px 2px 0 #02092e,
    2px 2px 0 #02092e;
}

#small {
    font-family: 'nokia';
    font-size: 24px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    overflow:hidden;
}

td {
    padding-bottom: 40px;
}

a {
    color: #de5c45;
    text-decoration: none;
}

a:hover {
    color: #faf16e;
}

::selection {
    color: #f9ffcc;
}